<div class="row">
    <div class="col-lg-6">
        <nb-card size="small">
            <nb-card-header>
                Introduccion
            </nb-card-header>
            <nb-card-body>
                <div class="font-row font-main">
                    <div class="header">
                        <div class="name bold">Auditor&iacute;a</div>
                    </div>
                    <p>
                        En esta p&aacute;gina se podr&aacute; consultar informaci&oacute;n acerca de entes e institutos que confeccionan normas internacionales y nacionales.
                        <br />Tambi&eacute;n facilita la b&uacute;squeda de normas seg&uacute;n diferentes filtros, para el uso que el lector necesite.
                    </p>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card size="small">
            <nb-card-header>
                Creacion
            </nb-card-header>
            <nb-card-body>
                <div class="font-row font-main">
                    <div class="header">
                        <div class="name bold">Proposito</div>
                    </div>
                    <p>
                    Esta pagina fue creada en el contexto de un producto de la materia "Auditoria en SI/TI" de la carrera Ingenieria en Sistemas de Informacion de la Universidad Tecnologica Nacional Facultad Regional Cordoba
                    </p>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
